html {
    overflow-y: auto;
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

.block {
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
    height: 208px;
}
